/src/Hui.Api/obj
/src/Hui.Api/bin
/src/Hui.Api.Bll/obj
/src/Hui.Api.Bll/bin
/src/Hui.Api.Common/obj
/src/Hui.Api.Common/bin
/src/Hui.Api.Dal/obj
/src/Hui.Api.Dal/bin
/src/Hui.Api.Models/bin
/src/Hui.Api.Models/obj
/src/Hui.Api.Service/bin
/src/Hui.Api.Service/obj
/.vs/Hui.Api/v15
/.vs/Hui.Api
/src/Hui.Api.Bll/Hui.Api.Bll.csproj.user
/src/Hui.Api.Dal/Hui.Api.Dal.csproj.user
/src/Hui.Api.Models/Hui.Api.Models.csproj.user
/Hui.Api.sln.DotSettings.user
/src/Hui.Api.Service/logs
/.vs/config/applicationhost.config
